.card:hover{
   box-shadow: 0 0 20px 16px #ffd480;
}
h1{
    text-align: center;
    font-size: 35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 30px;
}
.row{
    text-align: center;
    font-size: 50px;
}
.justify{
    font-size: 50px;
}
.img{
    width: 100%;
    height:270px;
    border-radius: 30px 30px 0px 0px;
}
.p{
    text-align:left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.card{
    width:250px;
    background-color:#99b3ff;
    border-radius: 30px;
    margin:2px;
    box-shadow: 0 0 3px 2px #a3c2c2;
}
.parent-card{
    display: flex;
    flex-direction: row;
    justify-content:start;
    flex-wrap: wrap;
    margin-top: 70px;
}
.parent-card2{
    display: flex;
    flex-direction: row;
    justify-content:end;
    margin: 15px;
}

.parent-card3{
    display: flex;
    flex-direction:row;
    justify-content:center;
    margin: 8px;
}

.parent-card4{
    display: flex;
    flex-direction:row;
    justify-content:space-evenly;
}

.parent-card5{
    display: flex;
    flex-direction:row;
    justify-content:space-between;
}

.parent-card6{
    display: flex;
    flex-direction:row;
    justify-content:space-around;
}
.parent-card7{
    display: flex;
    flex-direction:row-reverse;
    justify-content:start;
}
.parent-card8{
    display: flex;
    flex-direction:row-reverse;
    justify-content:end;
}
.parent-card9{
    display: flex;
    flex-direction:row-reverse;
    justify-content:center;
}
.parent-card10{
    display: flex;
    flex-direction:row-reverse;
    justify-content:space-evenly;
}
.parent-card11{
    display: flex;
    flex-direction:row-reverse;
    justify-content:space-between;
}
.parent-card12{
    display: flex;
    flex-direction:row-reverse;
    justify-content:space-around;
}
.parent-card13{
    display: flex;
    flex-direction:column;
    justify-content:start;
}
.parent-card14{
    display: flex;
    flex-direction:column;
    justify-content:end;
}
.parent-card15{
    display: flex;
    flex-direction:column;
    justify-content:center;
}
.parent-card16{
    display: flex;
    flex-direction:column;
    justify-content:space-evenly;
}
.parent-card17{
    display: flex;
    flex-direction:column;
    justify-content:space-between;
}
.parent-card18{
    display: flex;
    flex-direction:column;
    justify-content:space-around;
}
.parent-card19{
    display: flex;
    flex-direction:column-reverse;
    justify-content:start;
}
.parent-card20{
    display: flex;
    flex-direction:column-reverse;
    justify-content:end;
}
.parent-card21{
    display: flex;
    flex-direction:column-reverse;
    justify-content:center;
}
.parent-card22{
    display: flex;
    flex-direction:column-reverse;
    justify-content:space-evenly;
}
.parent-card23{
    display: flex;
    flex-direction:column-reverse;
    justify-content:space-between;
}
.parent-card24{
    display: flex;
    flex-direction:column-reverse;
    justify-content:space-around;
}


